<ng-template #divLoading>
  <mat-grid-list cols="1">
    <mat-grid-tile>
      <mat-spinner></mat-spinner>
    </mat-grid-tile>
  </mat-grid-list>
</ng-template>

<div *ngIf="hero; else divLoading" class="grid p-2">
  <mat-card class="col-12 sm:col-6">
    <mat-card-header>
      <mat-card-title>{{ hero.alter_ego }}</mat-card-title>
      <mat-card-subtitle>{{ hero.superhero }}</mat-card-subtitle>
    </mat-card-header>

    <img [src]="hero | heroImage" [alt]="hero.superhero" mat-card-image />
  </mat-card>

  <mat-card class="col-12 sm:col-6">
    <mat-card-header>
      <mat-card-title>Información</mat-card-title>
      <mat-card-subtitle>{{ hero.superhero }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content class="mt-2">
      <p><strong>Alter Ego:</strong> {{ hero.alter_ego }}</p>
      <p><strong>Characters:</strong> {{ hero.characters }}</p>
      <p><strong>First apparition:</strong> {{ hero.first_appearance }}</p>
      <p><strong>Publisher:</strong> {{ hero.publisher }}</p>
    </mat-card-content>

    <button mat-button color="warn" (click)="goBack()" class="mt-4">
      Back
    </button>
  </mat-card>
</div>
