<form
  class="login100-form"
  autocomplete="off"
  [formGroup]="myForm"
  (ngSubmit)="login()"
>
  <span class="login100-form-title p-b-20"> Login </span>
  <auth-input-field [field]="'email'" [type]="'email'" [myForm]="myForm" />
  <auth-input-field
    [field]="'password'"
    [type]="'password'"
    [myForm]="myForm"
  />

  <div class="text-right p-t-8 p-b-15"></div>

  <auth-button-form [label]="'Login'" [type]="'submit'" />

  <div class="flex-col-c p-t-20">
    <span class="txt1 p-b-17"> ¿Do you have an account? </span>

    <a routerLink="/auth/register" class="txt2"> Create an account </a>
  </div>
</form>
