<div class="wrap-input100 m-b-6" [formGroup]="myForm!">
  <span
    class="label-input100"
    [ngClass]="{ 'text-red': !isValidField(field) }"
    >{{ optionalLabel || field | titlecase }}</span
  >
  <input
    class="input100"
    [type]="type"
    [placeholder]="optionalLabel || field"
    formControlName="{{ field }}"
    [ngClass]="{ error: !isValidField(field) }"
  />
  <span
    class="error-message"
    [ngClass]="{ 'visible-false': isValidField(field) }"
    >{{ getErrors!(field) }}&nbsp;</span
  >
</div>
