<form
  class="login100-form"
  autocomplete="off"
  [formGroup]="myForm"
  (ngSubmit)="register()"
>
  <span class="login100-form-title p-b-20"> Register </span>

  <auth-input-field [field]="'name'" [type]="'text'" [myForm]="myForm" />
  <auth-input-field [field]="'email'" [type]="'email'" [myForm]="myForm" />
  <auth-input-field
    [field]="'password'"
    [type]="'password'"
    [myForm]="myForm"
  />
  <auth-input-field
    [field]="'confirmPassword'"
    [type]="'password'"
    [optionalLabel]="'Confirm Password'"
    [myForm]="myForm"
  />

  <div class="text-right p-t-8 p-b-15"></div>

  <auth-button-form [label]="'Register'" [type]="'submit'" />

  <div class="flex-col-c p-t-20">
    <span class="txt1 p-b-17"> ¿Do you already have an account? </span>

    <a routerLink="/auth/login" class="txt2"> Login </a>
  </div>
</form>
