<div class="py-3">
  <p-panel [showHeader]="false">
    <h1>Number pipes</h1>

    <p>Include pipes in Angular - Usually in the common modules</p>
  </p-panel>
</div>

<div class="grid">
  <div class="col-12 md:col-4">
    <p-card header="Net sells">
      {{ totalSells + 10265 | number : "1.2-2" }}
    </p-card>
  </div>

  <div class="col-12 md:col-4">
    <p-card header="Raw sells">
      {{ totalSells | currency : "" }}
    </p-card>
  </div>

  <div class="col-12 md:col-4">
    <p-card header="Percent gain">
      {{ percentage | percent }}
    </p-card>
  </div>
</div>
